extend ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Nueva Bicicleta

    br
    br

    form(action='/bicicletas/create' method='post')
        label(fo='id') ID:
        input#id(type='text' name='id')
        br
        label(fo='color') color:
        input#color(type='text' name='color')
        br
        label(fo='modelo') modelo:
        input#modelo(type='text' name='modelo')
        br
        label(fo='latitud') latitud:
        input#latitud(type='text' name='latitud')
        br
        label(fo='longitud') longitud:
        input#longitud(type='text' name='longitud')
        br
        input.btn(type='submit' value='OK')
