extend ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Editar Bicicleta 

    br
    br

    form(action=`/bicicletas/${bici.id}/update` method='post')
        label(fo='id') ID:
        input#id(type='text' name='id' value=bici.id)
        br
        label(fo='color') color:
        input#color(type='text' name='color' value=bici.color)
        br
        label(fo='modelo') modelo:
        input#modelo(type='text' name='modelo' value=bici.modelo)
        br
        label(fo='latitud') latitud:
        input#latitud(type='text' name='latitud' value=bici.ubicacion[0])
        br
        label(fo='longitud') longitud:
        input#longitud(type='text' name='longitud' value=bici.ubicacion[1])
        br
        input.btn(type='submit' value='OK')
