extend ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Detalles Bicicleta 
        span.id #{bici.id}

    br
    br
    p Color #{bici.color}
    p Modelo #{bici.modelo}
    p Ubicacion #{bici.ubicacion}

